{% extends 'layouts/base.html' %}

{% block content %}


<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ex repellat doloribus. Qui consequatur minima inventore eligendi labore ipsum, reprehenderit distinctio dolores quisquam exercitationem cumque porro, asperiores odio esse. Qui rem perspiciatis, nesciunt, officia a dolorem omnis repellat ducimus nam alias, quibusdam illo nisi dicta delectus explicabo quasi soluta vero eius. Libero nesciunt ullam obcaecati consectetur pariatur velit ratione consequatur et nisi provident rerum reiciendis nemo, adipisci ipsum repudiandae architecto quas tempore, sint fugit aspernatur recusandae. Quos alias quia illum expedita cumque veritatis officiis optio mollitia, labore eligendi maiores molestiae cum impedit suscipit? Explicabo pariatur enim sed quod commodi eum?</p>

<p>Website created by {{username}}</p>

{% endblock %}